<!-- <hr class="horizontal_break">
<div id="aboutContainer" class="text-center container" ng-controller="AboutCtrl">
    <h1 class="text-center">NSS Experiences Blog</h1>
    <div class="container col-md-12 col-md-12">
        <div class="thumbnail">
            <div class="pannel-heading">
                <h2>Here is a bit about me</h2>        
                <p class="text-left">I have always been a technical person.  I enjoy working thru the problem and it brings great satisifaction when the desired outcome is achieved.  I work as a Federal Contract Investigator and intend to combine my government background/clearance level with the knowledge base I am gaining from Nahsville Software School, and enter into a new career which is challenging and satisfying industry.  This site will conitnue to be updated.</p>    
            </div>
        </div>
    </div>
</div> -->


<hr class="horizontal_break">
<div id="aboutContainer" class="text-center" ng-controller="AboutCtrl">
    <div class="col-md-12">
        <h2>Here is a bit about me</h2>        
        <p class="text-left">I have always been a technical person.  I enjoy working thru the problem and it brings great satisifaction when the desired outcome is achieved.  I work as a Federal Contract Investigator and intend to combine my government background/clearance level with the knowledge base I am gaining from Nahsville Software School, and enter into a new career which is challenging and satisfying industry.  This site will conitnue to be updated.</p>    
    </div>
</div>