<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="text-center">
            <div class="row contact_links" id="footer_links">
                <a>Contact Links</a>
                <a href="mailto:rob.f.shock@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
                <a href="@ShockRobbie" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                <a href="https://github.com/RobertShock" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
            </div>
            <p class="copyright">&copy Robbie Shock, 2017</p>
        </div>
    </div>
</footer>